<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
	</head>
	<body class="pageIndex">
		<div class="container">
			<div class="nav-wrapper">
				<div class="nav">
					<div class="server-btn-wrapper">
						<div class="server-btn">
							<div class="icon-add jsAddServer"></div><br/>
							<a href="#" class="jsAddServer">Add Server</a>
						</div>
						<div class="server-btn remove">
							<div class="icon-remove jsDestroyServer"></div><br/>
							<a href="#" class="jsDestroyServer">Destroy</a>
						</div>
						<div class="clear"></div>
					</div>
					<div class="apps-wrapper">
						<p class="title">Available Apps</p>
						<div class="apps jsAppsBtn">
							<div id="hadoop" class="app hadoop jsApp" data-prop='{"id": "hadoop", "abbr": "Hd", "title": "Hadoop"}'>
								<div class="app-title">Hadoop</div>
								<div class="app-btns">
										<div class="icon-remove-small jsRemoveApp"></div>
										<div class="icon-add-small jsAddApp"></div>
								</div>
								<div class="clear"></div>
							</div>

							<div id="rails" class="app rails jsApp" data-prop='{"id": "rails", "abbr": "Ra", "title": "Rails"}'>
								<div class="app-title">Rails</div>
								<div class="app-btns">
										<div class="icon-remove-small jsRemoveApp"></div>
										<div class="icon-add-small jsAddApp"></div>
								</div>
								<div class="clear"></div>
							</div>

							<div id="chronos" class="app chronos jsApp" data-prop='{"id": "chronos", "abbr": "Ch", "title": "Chronos"}'>
								<div class="app-title">Chronos</div>
								<div class="app-btns">
										<div class="icon-remove-small jsRemoveApp"></div>
										<div class="icon-add-small jsAddApp"></div>
								</div>
								<div class="clear"></div>
							</div>

							<div id="storm" class="app storm jsApp" data-prop='{"id": "storm", "abbr": "Ct", "title": "Storm"}'>
								<div class="app-title">Storm</div>
								<div class="app-btns">
										<div class="icon-remove-small jsRemoveApp"></div>
										<div class="icon-add-small jsAddApp"></div>
								</div>
								<div class="clear"></div>
							</div>

							<div id="spark" class="app spark jsApp" data-prop='{"id": "spark", "abbr": "Sp", "title": "Spark"}'>
								<div class="app-title">Spark</div>
								<div class="app-btns">
										<div class="icon-remove-small jsRemoveApp"></div>
										<div class="icon-add-small jsAddApp"></div>
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
	
			<div class="dashboard jsDashboard">
				<h1>Server Canvas</h1>
				<p class="message hidden jsMessage">asdasdasdasda</p>
			</div>
			<div class="clear"></div>

		</div>
	</body>
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
	<script src="/assets/js/page.index.js"></script>

	<script id="templateServer" type="x-tmpl-mustache">
		<div id="{{ serverid }}" class="server-wrapper jsServer"></div>
	</script>
	<script id="templateApp" type="x-tmpl-mustache">
		<div class="app-wrapper {{id}} jsAppWrapper" data-prop='{"id":"{{id}}", "timestamp":"{{timestamp}}"}'>
			<h2>{{abbr}}</h2>
			<h3>{{title}}</h3>
			<p class="timestamp">Add <span class="jsTime">0 min</span> ago</p>
		</div>
	</script>
	<script id="templateAppLoader" type="x-tmpl-mustache">
		<div class="app-wrapper app-loader jsAppLoader">
			<div class="loader"></div>
		</div>
	</script>
	<script id="templateDestroySever" type="x-tmpl-mustache">
		<div class="overlay jsDestroyOverlay">
			<h3>Destroy Server</h3>
		</div>
	</script>

</html>
