body {
	background-color: #141414;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	background-color: #0e0e0e;
}
a {
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}
a:hover {
	opacity: .6;
}
h1 {
	color: #fff;
	font-size: 1.875em;
    padding: 30px 0;
}

.clear {
	clear: both;
}
.hidden {
	display:none;
}
.message {
	color: red;
	width: 100%;
	padding: 10px;
	font-size: 1.2em;
	letter-spacing: 1px;
}

/** icons **/
.icon-add,
.icon-remove,
.icon-add-small,
.icon-remove-small {
	position: relative;
	border-radius: 50%;
	cursor: pointer;
    z-index: 2;
}
.icon-add:hover,
.icon-remove:hover,
.icon-add-small:hover,
.icon-remove-small:hover {
	opacity: .6;
}
.icon-add {
    width: 56px;
    height: 56px;
    border: 2px solid #fff;
}
.icon-add:before,
.icon-add:after,
.icon-remove:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    border-radius: 0;
    top: 26px;
    z-index: 0;
}
.icon-add:before,
.icon-add:after {
	background-color: #fff;
}
.icon-add:before {
    left: 13px;
}
.icon-add:after {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
    right: 13px;
}
.icon-remove {
    width: 56px;
    height: 56px;
    border: 2px solid #646464;
}
.icon-remove:before{
	background-color: #646464;
}
.icon-remove:before {
    left: 13px;
}

.icon-add-small {
    width: 28px;
    height: 28px;
	display: inline-block;
}
.icon-add-small:before,
.icon-add-small:after,
.icon-remove-small:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    border-radius: 0;
	z-index: 0;
}
.icon-add-small:before,
.icon-add-small:after {
	background-color: #fff;
	top: 13px;
}
.icon-remove-small:before {
	background-color: #646464;
	top: 12px;
}
.icon-add-small:before {
    left: 7px;
}
.icon-add-small:after {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
    right: 6px;
}
.icon-remove-small {
    width: 26px;
    height: 26px;
    border: 1px solid #646464;
	display: inline-block;
}

.icon-remove-small:before {
    left: 6px;
}


/** index **/
.container {
	max-width: 1240px;
	margin: auto;
	background: #000;
}
.nav-wrapper {
	background-color: #1e1e1e;
	height: 100vh;
	float: left;
    width: 25%;
    min-width: 200px;
}
.server-btn-wrapper {
	width: 140px;
	margin: auto;
	padding: 60px 0 150px;
}
.server-btn-wrapper a {
	font-size: 0.750em;
	margin-top: 20px;
}
.server-btn-wrapper .server-btn {
	float:left;
	text-align: center;
}
.server-btn-wrapper .server-btn.remove {
	float:right;
}
.server-btn-wrapper .server-btn.remove a {
	color: #646464;
}

.server-wrapper {
	float:left;
	width: 200px;
	height:140px;
	background-color: #1e1e1e;
	margin: 8px;
	border-radius: 3px;
	cursor: pointer;
	position: relative;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(40, 74, 130, 0.3);
	z-index: 1;
}

.overlay h3 {
	color: #fff;
	font-size: 1.2em;
	text-align: center;
	margin-top: 30%;
}

.apps-wrapper {
	margin-top: 40px;
	box-sizing: border-box;
}
.apps-wrapper .title {
	color: #646464;
	font-size: 0.750em;
	padding: 15px 30px;
	font-weight: bold;
}
.app {
	padding: 20px 0 10px;
	color: #fff;
	font-weight: bold;
	box-sizing: border-box;
	background-color: #141414;
	border-bottom: 1px solid #1e1e1e;
	border-left: 5px solid #1e1e1e;
}
.app .app-title {
	float: left;
	padding-left: 24px;
	font-size: 0.875em;
	letter-spacing: .5px;
}
.app .app-btns {
	float: right;
	margin-top: -8px;
	margin-right: -15px;
}
.app .app-btns .icon-add-small {
	margin-left: 5px;
}

.dashboard {
	float: left;
	width: 75%;
	padding: 0 30px;
	box-sizing: border-box;
}

.app-wrapper {
	height: 100%;
	color: #fff;
	text-align: center;
	border-radius: inherit;
	box-sizing: border-box;
	transition: all .2s ease-in-out;
}

.app-wrapper.app-loader {
	padding-top: 25%;
}

.app-wrapper.app-loader .loader {
	margin: auto;
}
.server-wrapper.half .app-wrapper.app-loader {
	padding-top: 10%;
}

.app-wrapper h2 {
	padding-top: 35px;
	font-size: 1.563em;
}
.app-wrapper h2::first-letter { 
	font-weight: bold;
	letter-spacing: 1px;
}
.app-wrapper h3 {
	font-size: 0.875em;
	font-weight: bold;
	margin-top: 15px;
	letter-spacing: 1px;
}
.app-wrapper .timestamp {
	color: #000;
	font-size: 0.750em;
	margin-top: 5px;
	font-weight: 500;
}
.server-wrapper.half .app-wrapper {
	height: 50%;
}
.server-wrapper.half .app-wrapper:first-child {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.server-wrapper.half .app-wrapper:nth-child(2) {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.server-wrapper.half .app-wrapper h2 {
	padding-top: 7px;
}
.server-wrapper.half .app-wrapper h3 {
	margin-top: 2px;
}
.server-wrapper.half .app-wrapper .timestamp {
	margin-top: 4px;
}

.app.hadoop {
	border-left: 5px solid #f707a5;
}
.app.rails {
	border-left: 5px solid #3c2dee;
}
.app.chronos {
	border-left: 5px solid #02c6fb;
}
.app.storm {
	border-left: 5px solid #35e586;
}
.app.spark {
	border-left: 5px solid #72fc06;
}
.app.hadoop .icon-add-small,
.app-wrapper.hadoop {
	background: linear-gradient(to bottom right, #b511cd, #f707a5);
}
.app.rails .icon-add-small, 
.app-wrapper.rails {
	background: linear-gradient(to bottom right, #3c2dee, #6323e3);
}
.app.chronos .icon-add-small,
.app-wrapper.chronos {
	background: linear-gradient(to bottom right, #02c6fb, #0094fe);
}
.app.storm .icon-add-small,
.app-wrapper.storm {
	background: linear-gradient(to bottom right, #35e586, #1eccaa);
}
.app.spark .icon-add-small,
.app-wrapper.spark {
	background: linear-gradient(to bottom right, #72fc06, #65eb26);
}

/** animation **/
.loader {
	border: 5px solid #f3f3f3;
	border-radius: 50%;
	border-top: 5px solid #000;
	width: 20px;
	height: 20px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}
  
  /* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}